*{
    box-sizing: border-box;
}

.body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

/* ---------------- Header Video -------------------- */

.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-overlay{ 
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8; 
}                       

#miVideo{
    position: fixe;
    z-index: -1;

    width: 100%;
    height: auto;
}


.header-content{
    z-index: 2;
}   

.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
    background-color: crimson;
    width: 30%;
    height: 60px;
    margin: 0px auto;
    margin-top: 4%;
    border-radius: 25px;
    padding-top: 13px;
}

.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 0.75rem;
    background-color: crimson;
    border-radius: 25px;
    width: 80%;
    margin: 0px auto;
    margin-top: 3%;
    padding-top: 3px;
}                          

.btn{
    background: #34b3a0;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 25px;
}

@media(min-aspect-ratio: 16/9){
    #miVideo{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    #miVideo{
        width: auto;
        height: 100%;
    }
}

@media(max-width: 767px){
    #miVideo{
        display: none;
    }
    body{
        background: url('#');
        background-size: cover;
    }
}