.example-card {
    max-width: 350px;
    margin: 15px;
}
  
/* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
} */

.container {
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
}